@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --sidebar-width: 250px;
    --section-divider-color: #ddd;
    --section-divider-width: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
}

input,
button {
    outline: none;
    border: none;
}

a {
    color: unset;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a[data-link-user]:hover,
a[data-link]:hover {
    color: unset;
    text-decoration: none;
}

.w-6 {
    width: 60px;
}

.h-6 {
    height: 60px;
}

.cancel_bg {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

#app {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 370px;
    height: auto;
    background: white;
    padding: 32px;
    box-shadow: 0px 1px 8px #ddd;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box .title {
    font-size: 2rem;
}

.box form.form {
    width: 100%;
    height: auto;
    margin: 16px 0;
}

.box form.form .input {
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.box form.form .input input {
    width: 100%;
    height: 45px;
    padding: 0px 10px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.box form.form .input a {
    font-size: 0.8rem;
    color: #555;
    margin: 5px 0;
}

.box form.form .input a:hover {
    color: #222;
    font-size: 0.9rem;
}

.box form.form .submit {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.box form.form .submit input {
    width: 100%;
    height: 45px;
    font-size: 1.1rem;
    background: #333;
    color: white;
    outline: none;
    border: none;
}

.box .extra a {
    color: #555;
}

.box .extra a:hover {
    color: #222;
    font-size: 1.1rem;
}

.dashboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        'navb navb navb'
        'side main main'
        'side main main';
    grid-template-rows: 60px 1fr 1fr;
    grid-template-columns: var(--sidebar-width) 1fr 1fr;
}

.dashboard .navbar {
    height: 60px;
    background: white;
    grid-area: navb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: var(--section-divider-width) solid var(--section-divider-color);
}

.navbar .sidebar_toggle {
    display: none;
}

.navbar .brand {
    font-size: 2rem;
    padding: 0 20px;
}

.dashboard .sidebar {
    background: white;
    border-right: var(--section-divider-width) solid var(--section-divider-color);
    grid-area: side;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.sidebar .create_new {
    width: 100%;
    display: flex;
}

.sidebar .create_new button {
    width: auto;
    flex: 1 1 100%;
    height: 45px;
    font-size: 1.1rem;
    background: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 1px 10px #999;
    margin: 10px 15px;
}

.sidebar .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
}

.sidebar .menu .menuitem {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 6px 0;
    padding: 4px 0;
    border-radius: 4px;
    position: relative;
    color: #555;
    transition: all 0.1s linear;
}

.sidebar .menu .menuitem.active {
    background: #f6f6f6;
    color: black;
}

.sidebar .menu .menuitem:hover {
    background: #f6f6f6;
    color: black;
}

.sidebar .menu .menuitem:hover>* {
    transition: all 0.2s ease-in-out;
    transform: translateX(5px);
}

.sidebar .menu .menuitem.active::before {
    content: '';
    width: 4px;
    height: 20px;
    background: black;
    border-radius: 4px;
    position: absolute;
    top: 14px;
    left: 0;
}

.sidebar .menu .menuitem .icon {
    width: 40px;
    height: 40px;
    margin: 0 5px 0 10px;
    padding: 9px;
}

.sidebar .menu .menuitem .title {
    width: auto;
}

.dashboard .main {
    background: white;
    grid-area: main;
}

.main .links_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    background: #f4f6fa;
}

.main .links_container>.title {
    width: 100%;
    height: 80px !important;
    background: white;
    border-bottom: var(--section-divider-width) solid var(--section-divider-color);
    padding: 10px 30px;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.main .links_container .link_list {
    width: 30%;
    height: calc(100% - 80px) !important;
    height: min-content;
    border-right: var(--section-divider-width) solid var(--section-divider-color);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.main .links_container .link_list .title {
    width: 100%;
    padding: 10px 20px;
    color: #555;
    font-size: 1rem;
    text-align: right;
    border-bottom: var(--section-divider-width) solid var(--section-divider-color);
}

.main .links_container .link_list .link {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    border-bottom: var(--section-divider-width) solid var(--section-divider-color);
    cursor: pointer;
    position: relative;
}

.main .links_container .link_list .link:hover {
    background: #f0f0f3;
}

.main .links_container .link_list .link.active {
    background: white;
}

.main .links_container .link_list .link .link_active {
    content: '';
    width: 10px;
    height: 10px;
    background: green;
    box-shadow: 0px 1px 10px lightgreen;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}
.main .links_container .link_list .link .link_active.false {
    background: red;
    box-shadow: 0px 1px 10px lightcoral;
}

.main .links_container .link_list .link .date_created {
    width: 100%;
    font-size: 0.75rem;
    color: #666;
}

.main .links_container .link_list .link .long_url {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #444;
    font-size: 0.9rem;
    margin-bottom: 6px;
}

.main .links_container .link_list .link .short_url {
    width: auto;
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    color: #111;
    margin-right: 10px;
}

.main .links_container .link_list .link .clicks {
    width: fit-content;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.85rem;
    color: #666;
}

.main .links_container .link_list .link .clicks span {
    height: 17px;
    margin: 0 8px;
}

.main .links_container .link_list .link .clicks svg {
    width: 17px;
    height: 17px;
}

.main .links_container .link_overview {
    width: 70%;
    height: calc(100% - 80px) !important;
    overflow: auto;
    display: none;
    flex-direction: column;
    background: #f4f6fa;
}

.main .links_container .link_overview.active {
    display: flex;
}

.main .links_container .link_overview .link_header {
    width: 100%;
    height: 60px;
    background: white;
    padding: 8px;
    display: none;
    align-items: center;
    border-bottom: var(--section-divider-width) solid var(--section-divider-color);
}

.main .links_container .link_overview .link_header .title {
    flex: 1 1 auto;
    font-size: 1.5rem;
    padding: 0 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main .links_container .link_overview .link_header svg {
    width: 50px;
    height: 50px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #555;
}

.main .links_container .link_overview .link_header svg:hover {
    background: #f0f0f0;
    color: black;
}

.main .links_container .link_overview .link_details {
    width: auto;
    height: max-content !important;
    background: white;
    margin: 30px;
    padding: 30px;
    border-radius: 8px;
}

.main .links_container .link_overview .link_data {
    width: auto;
    height: max-content !important;
    background: white;
    margin: 30px;
    margin-top: 0;
    padding: 30px;
    border-radius: 8px;
    /* overflow: auto; */
}

.main .links_container .link_overview .link_details .title,
.main .links_container .link_overview .link_data .short_url {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main .links_container .link_overview .link_details .title span,
.main .links_container .link_overview .link_data .short_url span {
    width: 100%;
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main .links_container .link_overview .link_details .title button.edit,
.main .links_container .link_overview .link_data .short_url button.copy {
    height: 40px;
    padding: 10px 20px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    color: #333;
    background: white;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.main .links_container .link_overview .link_details .title button.edit:hover,
.main .links_container .link_overview .link_data .short_url button.copy:hover {
    background: #f4f4f4;
    color: #111;
}

.main .links_container .link_overview .link_details .datetime_created,
.main .links_container .link_overview .link_data .clicks {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
    color: #333;
}

.main .links_container .link_overview .link_details .datetime_created svg,
.main .links_container .link_overview .link_data .clicks svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.main .links_container .link_overview .link_details .datetime_created span,
.main .links_container .link_overview .link_data .clicks span {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main .links_container .link_overview .link_details .clicks,
.main .links_container .link_overview .link_data .long_url {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
    color: #333;
}

.main .links_container .link_overview .link_details .clicks svg,
.main .links_container .link_overview .link_data .long_url svg {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.main .links_container .link_overview .link_details .clicks span,
.main .links_container .link_overview .link_data .long_url a {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main .links_container .link_overview .link_data .qr_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.main .links_container .link_overview .link_data .qr_section .title {
    width: 100%;
    font-size: 1.2rem;
    color: #444;
    font-weight: 600;
    margin-bottom: 10px;
}
.main .links_container .link_overview .link_data .qr_section .qr_code {
    width: fit-content;
    display: flex;
    margin: 0 20px 15px 0;
}
.main .links_container .link_overview .link_data .qr_section .qr_code img {
    width: 130px;
    height: 130px;
    background: #000;
    opacity: 0.7;
}
.main .links_container .link_overview .link_data .qr_section .qr_actions {
    width: auto;
    display: flex;
    flex-direction: column;
}
.main .links_container .link_overview .link_data .qr_section .qr_actions button {
    /* width: 130px; */
    padding: 10px 20px;
    margin-bottom: 5px;
    background: white;
    border: 1.5px solid #ccc;
    color: #444;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.main .links_container .link_overview .link_data .qr_section .qr_actions button:hover {
    background: #f4f4f4;
    color: #222;
}
.main .links_container .link_overview .link_data .qr_section .qr_actions button svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Screen Breakpoints */
@media screen and (max-width:1180px) {
    .main .links_container .link_list {
        width: 40%;
    }

    .main .links_container .link_overview {
        width: 60%;
    }
}

@media screen and (max-width:900px) {
    .main .links_container .link_list {
        width: 45%;
    }

    .main .links_container .link_overview {
        width: 55%;
    }
}

@media screen and (max-width:768px) {
    .dashboard {
        grid-template-areas:
            'navb navb navb'
            'main main main'
            'main main main';
    }

    .navbar .sidebar_toggle {
        width: 60px;
        height: 100%;
        padding: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .dashboard .sidebar {
        max-width: var(--sidebar-width);
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -200%;
        z-index: 20;
        right: 50px;
        transition: all 0.3s ease-out;
    }

    .sidebar.show {
        left: 0;
    }

    .main .links_container .link_list {
        width: 40%;
    }

    .main .links_container .link_overview {
        width: 60%;
    }
}

@media screen and (max-width:550px) {
    .main .links_container .link_list {
        width: 100%;
    }

    .main .links_container .link_overview {
        width: 100vw;
        height: 100vh !important;
        display: flex;
        border: var(--section-divider-width) solid var(--section-divider-color);
        box-shadow: 2px 2px 10px #ccc;
        position: fixed;
        top: 0;
        left: -200%;
        transition: left 0.3s ease;
    }

    .main .links_container .link_overview.active {
        left: 0;
    }

    .main .links_container .link_overview.active .link_header {
        display: flex;
    }

    .main .links_container .link_overview .link_details,
    .main .links_container .link_overview .link_data {
        margin: 10px;
        padding: 20px;
    }
}